body {
  margin: 0;
}
.navbar {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  background-color: #331e36;
  /* color: #ecfee8; */
}

.nav-links a {
  margin: 10px;
  color: #ecfee8;
  text-decoration: none;
}

.active {
  color: #c2efeb !important;
}
.options-container {
  display: flex;
  flex-direction: column;
}

.add-page {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-buttons {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  align-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ride {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(51, 30, 54, 0.4);
}

.ride > img {
  height: 50%;
  width: 100%;
}
.rides-div {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
