body {
  margin: 0;
}
.navbar {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  background-color: orange;
}

.nav-links a {
  margin: 10px;
}

.active {
  color: green;
}
.options-container {
  display: flex;
  flex-direction: column;

.add-page {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-buttons {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  align-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;

}
